<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'info', media: 'all', 'data-turbolinks-track': 'reload'  %>
<% end %>
	<style type="text/css">#myFooter {bottom: 0; position: fixed; width: 100%;}</style>
		<div id="wrapper" style="padding-top: 35px; overflow: hidden; height: 100%;">
			<div id="sidebar-wrapper" class="col-sm-2">
        <ul id="sidebar" class="nav nav-stacked affix">
	        <li><a href="#"><i class="fa fa-fw fa-home"></i> Home</a></li>
	        <li><%= link_to activities_path, :remote => true do %><span>Activities</span><% end %></li>
	        <li><%= link_to festivals_path, :remote => true do %><span>Festivals</span><% end %></li>
        	<li><%= link_to shopping_path, :remote => true do %><span>Shopping</span><% end %></li>
        	<li><%= link_to pests_path, :remote => true do %><span>Pests</span><% end %></li>
		    </ul>
			</div>
			<div id="main-wrapper"  class="col-md-10 pull-right">
				<div id="main">
					<div class="slide-1"><img src="/assets/welcome.jpg" class="main_car"></div>
						<div class="hero">
							<hgroup>
						    	<h1>Welcome to</h1>
						    	<h3>Bangalore</h3>
							</hgroup>
						</div>
				</div>
			</div>

		</div>
